.loginContent, .logoutContent{
  padding-top: 80px;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 20rem;
}



.crop{
  padding-bottom: 50px;
  max-width: 250px;
  max-height: 250px;
}

.arematicsLogin{
  position: relative;
  width: fit-content;
  display: flex;
  padding: 5px 10px;
  border: 1px solid #282727;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #282727;
  cursor: pointer;
}

.arematicsLogin > img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.arematicsLogin > h2{
  margin: 0;
}
