<article id="impressum" class="container">
  <section id="title">
    <h1 class="no-bottom-margin">Impressum</h1>
    <h4 style="color: var(--color-accent-text)">Angaben gemäß § 5 Telemediengesetz</h4>
  </section>

  <section id="main_informations">
    <h2 class="no-bottom-margin" style="font-size: 1.1rem">Allgemeine Informationen</h2>
    <hr>
    <p>Name und Anschrift</p>
    <p>Arematics UG (haftungsbeschränkt)<br>Vennhauser Allee 198c<br>40627 Düsseldorf<br>Deutschland</p>
    &nbsp;
    <p>E-Mail-Adresse<br>
      <a class="link" href="mailto:contact@arematics.com">contact@arematics.com</a></p>
    &nbsp;
    <p>Vertretungsberechtigte<br>
      Enrico Messall (Geschäftsführer)</p>
    &nbsp;
    <p>Register<br>
      Geführt bei: Amtsgericht Düsseldorf. Nummer: HRB 92553</p>
  </section>
  &nbsp;
  <section id="more_informations">
    <h2 class="no-bottom-margin" style="font-size: 1.1rem">Weitere Informationen</h2>
    <hr>
    <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
    <p>Arematics UG (haftungsbeschränkt)<br>Enrico Messall<br>Vennhauser Allee 198c<br>40627 Düsseldorf<br>Deutschland</p>
    &nbsp;
    <h4>Informationen zur Online-Streitbeilegung</h4>
    <p>Gemäß der Richtlinie 2013/11/EU richtet die EU-Kommission eine Internetplattform zur Online-Beilegung von Streitigkeiten („OS-Plattform“) zwischen Unternehmern und Verbrauchern ein.<br>
      Diese ist unter folgendem Link erreichbar: <a class="link" href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a></p>
    &nbsp;
    <h4>Social Media und andere Onlinepräsenzen</h4>
    <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:<br>
      <a class="link" href="https://instagram.com/arematics" target="_blank">https://instagram.com/arematics</a><br>
      <a class="link" href="https://twitter.com/arematics" target="_blank">https://twitter.com/arematics</a><br>
    </p>
  </section>

</article>
