<section id="entry-content">
  <div class="entryHeader">
    <div class="entryInformation">
      <div class="entry-title">
        <h2>{{entryGroup.title}}</h2>
        <mat-divider></mat-divider>
        <h1>{{entry.title}}</h1>
      </div>
      <div class="flexbox lastChange">
        <fa-icon [icon]="['fas', 'clock']"></fa-icon>
        <h4>Last Change {{entry.lastChange | date: 'dd.MM.yyyy HH:mm:ss'}}</h4>
      </div>
    </div>
    <img src="{{entry.image}}" alt="{{entry.title}} Image"/>
  </div>
  <div class="textContainer">
    <p-editor [(ngModel)]="entry.content" [modules]="modules" readonly="true" [style]="{'min-height':'200px'}" [styleClass]="textStyleClass">
      <p-header> </p-header>
    </p-editor>
  </div>
</section>
