.imagePreview{
  width: 100%;
}

.hideField{
  display: none;
}

.actions > *{
  margin-left: 5px;
}

.keywordChips{
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .stepper{
    max-width: 100%;
    width: 100%;
  }
}
