#content{
  width: 80%;
}

#sidebar{
  display: flex;
  flex-direction: row;
}

.spacer{
  padding-left: 15px;
  margin-right: 25px;
}

#ads{
  max-width: 10%;
}

@media only screen and (max-width: 800px) {
  #content{
    width: 100%;
  }

  .spacer{
    display: none;
  }

  app-query{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #sidebar{
    display: none;
  }
}

