.page{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#entry-content{
  margin-top: 4rem;
}

.entryHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 4rem;
}

.entryInformation{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
}

.entry-title{
  width: fit-content;
  text-align: center;
}

.entryHeader > img{
  max-width: 65%;
  border-radius: 3px;
}

.entryHeader .lastChange{
  align-items: center;
  justify-content: space-between;
}

.entryHeader .lastChange > h4{
  margin: 0;
  padding-left: 3px;
}

::ng-deep #entry-content .ql-toolbar.ql-snow{
  display :none;
  border: 0;
}

::ng-deep #entry-content .ql-container.ql-snow{
  border: 0;
}

::ng-deep #entry-content .ql-container.ql-snow > .ql-editor{
  padding: 4px 8px;
}

@media only screen and (max-width: 1360px) {
  .entryHeader{
    position: relative;
  }

  .entryHeader > div{
    position: absolute;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    z-index: 5;
  }

  .entryHeader > img{
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}
