/* You can add global styles to this file, and also import other style files */

//Colors Schemas
$color-light: black;
$color-accent-light: #c3c3c3;
$background-light: #ffffff;
$background-accent-light: #f1f1f1;
$input-background-color-light: #dcdcdc;

$color-dark: #FFFFFF;
$color-accent-dark: #AFAFAF;
$background-dark: #0D0C0C;
$background-accent-dark: #26262E;
$input-background-color-dark: #252525;

:root {
  --color-text: #{$color-light};
  --color-accent-text: #{$color-accent-light};
  --color-background: #{$background-light};
  --color-background-accent: #{$background-accent-light};
  --color-blue-accent: #539ad2;
  --color-blue-background: #0c3fab;
  --input-background-color: #{$input-background-color-light};
}

html, body{
  font-family: "Quicksand", "Open Sans", sans-serif;
  background-color: var(--color-background);
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

.importantText{
  color: var(--color-blue-accent);
}

.shadowText{
  color: var(--color-accent-text);
}

.link{
  @extend .importantText;
}

h1, h2{
  font-weight: 500 !important;
}

h1{
  font-size: 1.4em;
}

input{
  outline: none;
  border: none;
  color: var(--color-text);
  background-color: var(--input-background-color);
  border-radius: 2px;
}

input:disabled{
  color: var(--color-accent-text) !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 0;
}

.bodyContent{
  margin-top: 30vh;
  width: 100%;
  margin-bottom: 45rem;
}

.containers{
  margin: 0 auto;
  padding: 0 50px;
}

.big-container{
  @extend .containers;
  max-width: 1660px;
}

.container{
  @extend .containers;
  max-width: 1220px;
}

.small-container{
  @extend .containers;
  max-width: 800px;
}

a {
  text-decoration: none;
}

.flexbox{
  display: flex;
}

.flexColumns{
  flex-direction: column;
}

.fullWidth{
  width: 100%;
}

.fullHeight{
  height: 100%;
}

//Button Style
.styledButton{
  background-color: var(--color-blue-background);
  color: white;
  width: 100%;
  max-width: 250px;
}

.no-bottom-margin{
  margin-bottom: 0 !important;
}

hr{
  border-color: var(--input-background-color);
  margin: 0 0 20px 0;
}

.mat-h1, .mat-headline, .mat-typography h1{
  font-size: 1.4rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

//Media Queries
@media only screen and (max-width: 1100px) {
  .containers, .small-container, .container, .big-container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 800px) {
  .containers, .small-container, .container, .big-container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .containers, .small-container, .container, .big-container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .bodyContent{
    margin-top: 2rem;
  }
}

@media screen and(prefers-color-scheme: dark){
  :root{
    --color-text: #{$color-dark};
    --color-accent-text: #{$color-accent-dark};
    --color-background: #{$background-dark};
    --color-background-accent: #{$background-accent-dark};
    --input-background-color: #{$input-background-color-dark};
  }
}

@font-face {
  font-family: Lemon-Milk;
  src: url("assets/LEMONMILK-Medium.otf");
}
