#management{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#dragDropStatus {
  align-items: center;
}

#dragDropStatus > .dot{
  margin-left: 10px;
}

#dragDropStatus > h3{
  margin-bottom: 0;
}

#groupManagement{
  margin-bottom: 10px;
  justify-content: flex-end;
}

#groupName{
  flex: 1;
  background-color: transparent;
}

.dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dragDropEnabled{
  background-color: #21ce21;
}

.dragDropDisabled{
  background-color: #e60404;
}

.groupPanel .mat-action-row{
  padding: 0;
  border-top: 0;
}



@media only screen and (max-width: 800px) {

  #dragDropStatus{
    margin-bottom: 10px;
  }

  .createGroupButton{
    width: 100%;
  }

  #groupManagement{
    margin-bottom: 30px;
  }
}
