<h2>Arematics Wiki</h2>
<p-autoComplete styleClass="searchQuery" [suggestions]="filteredResults"
                (completeMethod)="filterCountry($event)"
                (onSelect)="select($event)"
                field="nix"
                placeholder="Search for..."
                pTooltip="Search only titles with 'title: ' or text with 'text: '">
  <ng-template let-item pTemplate="item">
    <div class="query-item">
      <h3 [innerHTML]="item.label | safe: 'html'"></h3>
      <p-editor styleClass="queryCodeComponent" *ngIf="item.text.length > 0" readonly="true" [ngModel]="item.text">
        <ng-template pTemplate="header"></ng-template>
      </p-editor>
    </div>
  </ng-template>
</p-autoComplete>
