<nav class="menubar">
  <h3 (click)="open = !open" class="noselect"> {{group.title}} </h3>
  <div class="flexbox bar">
    <mat-divider style="flex: 1" class="noselect"></mat-divider>
    <fa-icon *ngIf="open" [icon]="['fas', 'caret-up']" class="coloredIcon noselect" (click)="open = !open"></fa-icon>
    <fa-icon *ngIf="!open" [icon]="['fas', 'caret-down']" class="coloredIcon noselect" (click)="open = !open"></fa-icon>
  </div>
  <ul *ngIf="open">
    <li *ngFor="let entry of group.entries">
      <a [routerLink]="['/entry', entry.id]">{{entry.title}}</a>
    </li>
  </ul>
</nav>
